<h1>Gosh, the students at your school are awesome, aren't they?</h1>
<h3>And your work gives them a sweet place to learn and grow.</h3>
<h3><em>You and your team are kinda the best.</em></h3>
<h3><a href="https://schools.marvl.org" target="_blank">Sign in now</a> to help other ops teams be their best too!</h3>

<p>(You may <a href="https://www.youtube.com/watch?v=VfqHsu2bosI" target="_blank">unsubscribe</a> from this update at any time.</p>

<p>- - - - - - - - - -</p>

<h2>Here is what happened on MARVL last week:</h2>

<% if @users.present? %>
  <h2>New Users</h2>
  <ul>
    <% for user in @users %>
      <li>
        <%= link_to "#{user.full_name} (#{user.organization.name})", user_url(user) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @vendors.present? %>
  <h2>New Vendors</h2>
  <ul>
    <% for vendor in @vendors %>
      <li>
        <%= link_to vendor.name, vendor_url(vendor) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @reviews.present? %>
  <h2>New Reviews</h2>
  <ul>
    <% for review in @reviews %>
      <li>
        <%= link_to "(#{review.category.name}) #{review.user.full_name} review of #{review.vendor.name}", review_url(review) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @protips.present? %>
  <h2>New Protips</h2>
  <ul>
    <% for protip in @protips %>
      <li>
        <%= link_to "#{protip.title} (by #{protip.user.full_name})", "/categories/#{protip.category.id}#protips" %>
      </li>
    <% end %>
  </ul>
<% end %>

<p>- - - - - - - - - -</p>

<h2>MARVL Leaderboard:</h2>
<ol>
  <% for school in @ranking_array %>
    <li><%= school[:name] %>  (<%= school[:points] %> points)</li>
  <% end %>
</ol>

<p>- - - - - - - - - -</p>

<h2>How to videos:</h2>
<ul>
  <li><a href="https://www.youtube.com/watch?v=QDLSv_Bw24g" target="_blank">Your next review</a></li>
  <li><a href="https://www.youtube.com/watch?v=YBkDL_Pvui8" target="_blank">Navigating MARVL</a></li>
  <li><a href="https://www.youtube.com/watch?v=tMSVmqRPMwQ" target="_blank">Write a review</a></li>
  <li><a href="https://www.youtube.com/watch?v=ctnXOfFFUQE" target="_blank">Add a vendor</a></li>
  <li><a href="https://www.youtube.com/watch?v=A3zpVlFnj-Y" target="_blank">Update vendor information</a></li>
  <li><a href="https://www.youtube.com/watch?v=0Stx3xJnDTw" target="_blank">Add a pro-tip (a bit of service category-specific genius)</a></li>
  <li><a href="https://www.youtube.com/watch?v=QkbINK17SVs" target="_blank">Edit your reviews and pro-tips</li>
  <li><a href="https://www.youtube.com/watch?v=VfqHsu2bosI" target="_blank">Unsubscribe from weekly digest</li>
</ul>
